[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = vim configuration file
[access "refs/*"]
	owner = group user/Milind Murhekar (mmurhekar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Milind Murhekar (mmurhekar)
	label-Verified = -1..+1 group user/Milind Murhekar (mmurhekar)
	push = group user/Milind Murhekar (mmurhekar)
	read = group user/Milind Murhekar (mmurhekar)
	rebase = group user/Milind Murhekar (mmurhekar)
	removeReviewer = group user/Milind Murhekar (mmurhekar)
	submit = group user/Milind Murhekar (mmurhekar)
[access "refs/heads/*"]
	create = group user/Milind Murhekar (mmurhekar)
	push = +force group user/Milind Murhekar (mmurhekar)
	pushMerge = group user/Milind Murhekar (mmurhekar)
	read = group user/Milind Murhekar (mmurhekar)
[access "refs/tags/*"]
	push = group user/Milind Murhekar (mmurhekar)
	push = +force group user/Milind Murhekar (mmurhekar)
